<div class="header-wrapper" [ngClass]="{'padding': isUserLogin}">
    <div class="container-fluid">
        <div class="clearfix"  *ngIf="isUserLogin">
            <div class="float-left">
                <div class="logo-ham-sec">
                    <div class="hamburger">
                        <button mat-icon-button class="example-icon" (click)="toggleMenuSlide()">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <div class="logo">
                        <img src="../admin/assets/imgs/sai-logo.png" alt="Sai Astro" class="img-fluid" width="180px">
                    </div>
                </div>

            </div>
            <div class="float-right">
                <div class="user-profile">
                    <div class="dropdown mt-1">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{userProfileData?.name}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                          <!-- <a class="dropdown-item">Action</a> -->
                          <a class="dropdown-item" (click)="logout();">Logout</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <!-- menu drawer start-->
            <div class="drawer-menu" *ngIf="viewMenuBar" [@menuBar]>
                <div class="side-bar-logo">
                    <img class="mb-2" src="admin/assets/imgs/sai-logo.png" class="img-fluid" width="150px">
                    <button mat-icon-button class="close-btn" (click)="toggleMenuSlide()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <ul>
                    <li >Profile <mat-icon>person</mat-icon></li>
                    <li (click)="openPage('dashboard')">Dashboard <mat-icon>home</mat-icon></li>
                    <li (click)="openPage('astrologer')">Astrologer <mat-icon>list</mat-icon></li>
                    <li *ngIf="isMasterAdmin" (click)="openPage('subadmin')">Admin Control <mat-icon>admin_panel_settings</mat-icon></li>
                    <!-- <li>Horoscope</li> -->
                </ul>
            </div>
            <div class="backdrop" [ngClass]="{'open': viewMenuBar, 'close': !viewMenuBar}" (click)="toggleMenuSlide();"></div>
        <!-- menu drawer end -->

        <!-- when user is not login start -->
        <!-- <div class="text-center" *ngIf="!isUserLogin">
            <img src="assets/imgs/sai-logo.png" alt="Sai Astro" class="img-fluid" width="180px">
        </div> -->
        <!-- when user is not login end -->
    </div>
</div>
