<div class="astro-profile-wrapper">
    <div class="container">
        <div class="page-title">        
            <h2 class="font-muli"><mat-icon>person</mat-icon> <span routerLink="/dashboard">Dashboard</span> / <span routerLink="/astrologer">Astrologer</span>  / <span>Profile</span></h2>
        </div>
        <div class="profile-container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-12 mb-4">
                    <div class="profile-wrapper">
                       <div class="profile-heading">
                            <div class="profile-img-holder">
                                <img src="{{astrologerData?.personalDetails?.profilePic}}" alt="" class="img-fluid">
                            </div>
                            <h3 class="heading-name">{{astrologerData?.name}}<mat-icon class="ml-2" *ngIf="astrologerData?.isApplicationAccepted">verified</mat-icon></h3>
                       </div>
                       <div class="profile-details">
                           <!-- Email info -->
                           <div class="detail-list row" *ngIf="astrologerData?.email">
                               <div class="col-2">                                 
                                  <mat-icon>email</mat-icon>
                               </div>
                               <div class="col-10 p-0">                                 
                                  <span>{{astrologerData?.email}}</span>
                               </div>
                           </div>
                           <!-- Phone info -->
                           <div class="detail-list row" *ngIf="astrologerData?.contactNo">
                               <div class="col-2">                                  
                                  <mat-icon>phone</mat-icon>
                               </div>
                               <div class="col-10 p-0">
                                  <span>{{astrologerData?.contactNo}}</span>
                               </div>
                           </div>

                           <!-- date of birth -->
                           <div class="detail-list row" *ngIf="astrologerData?.personalDetails?.dob">
                               <div class="col-2">                                  
                                  <mat-icon>today</mat-icon>
                               </div>
                               <div class="col-10 p-0">
                                  <span>{{astrologerData?.personalDetails?.dob}}</span>
                               </div>
                           </div>

                           <!-- location info -->
                           <div class="detail-list row" *ngIf="astrologerData?.personalDetails?.city">
                               <div class="col-2">                                  
                                  <mat-icon>location_on</mat-icon>
                               </div>
                               <div class="col-10 p-0">
                                  <span>{{astrologerData?.personalDetails?.city}}, {{astrologerData?.personalDetails?.country}}</span>
                               </div>
                           </div>
                           <!-- language info -->
                           <div class="detail-list row" *ngIf="astrologerData?.personalDetails?.language.length">
                               <div class="col-2">
                                  <mat-icon>language</mat-icon>
                               </div>
                               <div class="col-10 p-0">
                                <div class="lang-list">
                                    <span *ngFor="let lang of astrologerData?.personalDetails?.language">
                                        {{lang}} 
                                        <!-- <span>,</span> -->
                                    </span>
                                   </div>
                               </div>                                
                           </div>
    
                           <!-- skills info -->
                           <div class="detail-list row" *ngIf="astrologerData?.personalDetails?.skills.length">
                               <div class="col-2">
                                   <mat-icon>layers</mat-icon>
                               </div>
                               <div class="col-10 p-0">
                                    <div class="skill-list">
                                        <span *ngFor="let skill of astrologerData?.personalDetails?.skills">
                                            {{skill}} 
                                            <!-- <span>,</span> -->
                                        </span>
                                        <!-- <span>Vedic Astrology</span>, <span>Vasthu</span>, <span>Gemology</span>, <span>Prashana Astrology</span>, <span>Horary</span> -->
                                    </div>
                               </div>
                               
                           </div>
                       </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12 mb-4">
                    <div class="profile-all-details">
                        <mat-tab-group mat-align-tabs="start">
                            <!-- about me  -->
                            <mat-tab label="About Me">
                                <div class="about-me">
                                    <p>{{astrologerData?.personalDetails?.longBio}}</p>
                                    <p>{{astrologerData?.personalDetails?.shortBio}}</p>
                                    <!-- no data -->
                                    <p class="text-center" *ngIf="(astrologerData?.personalDetails?.longBio == '' && astrologerData?.personalDetails?.shortBio == '' )">No Data Found</p>
                                </div>
                            </mat-tab>
                            <!-- Document -->
                            <mat-tab label="Documents">
                                <div class="documents-wrapper">
                                    <div class="document-list" *ngFor="let doc of astrologerData?.personalDetails?.documents; let i = index">
                                        <img src="{{doc}}" alt="" class="img-fluid" (click)="viewDocuments(i)">
                                    </div>
                                </div>
                            </mat-tab>
                            <!-- other details -->
                            <mat-tab label="Other Details" >
                                <div class="otherdetails-wrapper">
                                     <!-- address detail -->
                                     <div class="sub-detail" *ngIf="(astrologerData?.personalDetails?.address | json) != ({} | json) ">
                                        <address>
                                            <h4 class="other-title">Address</h4>
                                            <span>{{astrologerData?.personalDetails?.address?.primary}}</span>
                                            <span>{{astrologerData?.personalDetails?.address?.pinCode}}</span>
                                            <span>{{astrologerData?.personalDetails?.address?.state}}</span>
                                        </address>
                                     </div>
                                     <!-- bank details -->
                                     <div class="sub-detail"  *ngIf="(astrologerData?.personalDetails?.bankAccDetails | json) != ({} | json) ">
                                         <div class="bank-details">
                                            <h4 class="other-title">Bank Details</h4>
                                            <ul>
                                                <li>
                                                    <div class="bank-head-type">
                                                        <span>Account Number</span>
                                                    </div>
                                                    <div class="detail">
                                                        <span class="spacer">:</span>
                                                        <span>{{astrologerData?.personalDetails?.bankAccDetails?.bankAccNumber}}</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bank-head-type">
                                                        <span>Account Type</span>
                                                    </div>
                                                    <div class="detail">
                                                        <span class="spacer">:</span>
                                                        <span>{{astrologerData?.personalDetails?.bankAccDetails?.accountType}}</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bank-head-type">
                                                        <span>IFSC Code</span>
                                                    </div>
                                                    <div class="detail">
                                                        <span class="spacer">:</span>
                                                        <span>{{astrologerData?.personalDetails?.bankAccDetails?.ifsc}}</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bank-head-type">
                                                        <span>Account Holder Name</span>
                                                    </div>
                                                    <div class="detail">
                                                        <span class="spacer">:</span>
                                                        <span>{{astrologerData?.personalDetails?.bankAccDetails?.accHolderName}}</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bank-head-type">
                                                        <span>Pan Card Number</span>
                                                    </div>
                                                    <div class="detail">
                                                        <span class="spacer">:</span>
                                                        <span>{{astrologerData?.personalDetails?.panNumber}}</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bank-head-type">
                                                        <span>Aadhar Card Number</span>
                                                    </div>
                                                    <div class="detail">
                                                        <span class="spacer">:</span>
                                                        <span>{{astrologerData?.personalDetails?.adharCardNumber}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                         </div>
                                     </div>
                                     <!-- short bio -->
                                     <!-- <div class="sub-detail">
                                        <div class="short-bio">
                                            <h4 class="other-title">Short Bio</h4>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam maiores accusantium possimus! Odio possimus tempore expedita iusto. Iure officiis earum quisquam tenetur. Sunt odit modi molestias soluta minus voluptates odio!
                                        </div>
                                     </div> -->
                                     
                                    <!-- long bio -->
                                     <!-- <div class="sub-detail">
                                        <div class="long-bio">
                                            <h4 class="other-title">Long Bio</h4>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam maiores accusantium possimus! Odio possimus tempore expedita iusto. Iure officiis earum quisquam tenetur. Sunt odit modi molestias soluta minus voluptates odio! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex fugit eum provident, quisquam incidunt, cupiditate consequuntur ducimus deserunt nihil, maxime quae quia soluta laboriosam! Provident doloremque maxime velit corporis aliquid!
                                        </div>    
                                     </div>                                    -->
                                                                 
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>