<div class="admin-form-wrapper">

    <h2 class="text-center mb-5">{{title}} Admin Data</h2>

    <form [formGroup]="adminForm" (ngSubmit)="submitForm(adminForm)">
        <div class="form-field-wrapper">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput  formControlName="name">
            </mat-form-field>
            <app-errorcontrol-message [control]="adminForm.get('name')" [controlName]="'Name'"></app-errorcontrol-message>
        </div>
        <div class="form-field-wrapper">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput  formControlName="email">
            </mat-form-field>
            <app-errorcontrol-message [control]="adminForm.get('email')" [controlName]="'Email Id'"></app-errorcontrol-message>
        </div>
        <div class="form-field-wrapper">
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="Active">Active</mat-option>
                  <mat-option value="InActive">InActive</mat-option>
                </mat-select>
              </mat-form-field>
              <app-errorcontrol-message [control]="adminForm.get('status')" [controlName]="'Staus'"></app-errorcontrol-message>
        </div>      
        <div class="text-center">
            <button type="submit" mat-raised-button color="accent" [disabled]="adminForm.invalid">Submit</button>
        </div>  
    </form>
</div>
