<div class="subadmin-wrapper">
    <div class="container">
        <div class="page-title">        
            <h2 class="font-muli"><mat-icon>admin_panel_settings</mat-icon> <span routerLink="/dashboard">Dashboard</span> / <span>Sub-Admin</span></h2>
        </div>

        
        <!-- search data table filter start -->
        <div class="clearfix mt-5">
            <div class="float-left">
                <div class="add-admin mt-3">
                    <button mat-raised-button color="accent" (click)="openAdminModal('','add');">Add admin <mat-icon>add</mat-icon></button>
                </div>
            </div>
            <div class="float-right filter-field">
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyAdminFilter($event)" placeholder="Search by: Name, Email, Mobile..." #input>
              <mat-icon matSuffix>filter_alt</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <!-- search data table filter end -->
  
          <div class="mat-elevation-z8 mt-3">
              <table mat-table [dataSource]="dataSource">
            
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
            
                <!-- Status Column -->
                <ng-container matColumnDef="mobile">
                  <th mat-header-cell *matHeaderCellDef> Mobile </th>
                  <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
                </ng-container>
  
                <!-- Action Column -->
                 <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element; let row; let i = index" class="action">
                    <button mat-icon-button class="mr-3" (click)="openAdminModal(row, 'edit')"> <mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="deleteAdminData(row, i)"> <mat-icon>delete</mat-icon></button>
                  </td>
                 </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          
    </div>
</div>
