<div class="blog-wrapper">
    <div class="container">
        <div class="page-title">        
            <h2 class="font-muli"><mat-icon>article</mat-icon> <span routerLink="/dashboard">Dashboard</span> / <span>Blog</span></h2>
        </div>

        <!-- blog listing -->
        <div class="blog-listing">
            <!-- button adding for blog -->
            <div class="clearfix">
                <div class="float-left">
                    <button mat-raised-button color="accent" class="mb-2 ml-1" (click)="addBlog()">Add Blog <mat-icon>add</mat-icon></button>
                </div>
            </div>
            <!-- button adding for blog end -->
            <div class="row m-0">
                <div class="list col-md-4" *ngFor="let list of blogList; let i = index">
                    <mat-card class="list-wrapper">
                        <div class="heading clearfix">
                            <div class="float-left">
                                <h2 class="title">{{list.blogTitle}}</h2>
                            </div>
                            <div class="float-right">
                                <mat-icon class="mr-2 pointer" (click)="editBlog(list)">edit</mat-icon>
                                <mat-icon class="pointer" (click)="deleteBlog(list, i)">delete</mat-icon>
                            </div>
                        </div>
                        <div class="blog-detail" [innerHtml]="list.blogBody"></div>
                    </mat-card>
                </div>
            </div>
        
        </div>
        <!-- blog listing end -->

    </div>
</div>